* {
  box-sizing: border-box;
}

html, body {
 margin: 0;
 padding: 0;
 font-family: 'Montserrat', sans-serif;
 overflow-x: auto;
}


a {
  text-decoration: none;
  color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* ==================HEADER==================== */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #080400;
}

.logo {
  color: #E1E5F2;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
}

header {
  overflow-x: hidden;
  opacity: 5;
}

.nav-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-left: 0;
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 7vh;
  background-color: #272838;
  transform: translateX(100%);
  transition: transform ease-in .5s;
}

.nav-links li {
  list-style: none;
  padding: 2em 0 2em 0;
  opacity: 0;
}

.nav-links a {
  color: #E1E5F2;
  letter-spacing: 2px;
  font-weight: lighter;
}

.burger {
  cursor: pointer;
  display: block;
}

.burger div {
  width: 24px;
  height: 3px;
  background-color: #E1E5F2;
  margin: 5px;
  clip-path: polygon(14% 7%, 100% 0%, 83% 100%, 0% 100%);
}

.burger div:nth-last-child(1) {
  width: 33px;
}

.burger div:nth-last-child(2) {
  width: 29px;
}

.nav-active {
  transform: translateX(0%);
}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}


/* ==================HERO==================== */

.hero {
  height: 100vh;
  background-image: url('../img/hero1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-h1{
  margin-top: 0;
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
}

.logo-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
}




















/* DESKTOP VIEW
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #080400;
}

.logo {
  color: #E1E5F2;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 60%;
  padding-left: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #E1E5F2;
  letter-spacing: 2px;
  font-weight: lighter;
}

.burger div {
  width: 24px;
  height: 3px;
  background-color: #E1E5F2;
  margin: 5px;
      clip-path: polygon(14% 7%, 100% 0%, 83% 100%, 0% 100%);
}

.burger div:nth-last-child(1) {
  width: 33px;
}

.burger div:nth-last-child(2) {
  width: 29px;
} */
